psycopg2-binary
Pillow
lxml
reportlab
Werkzeug
Jinja2
requests
python-dateutil
pytz
Babel
num2words
decorator
docutils
feedparser
gevent
greenlet
Mako
MarkupSafe
passlib
polib
psutil
pydot
pyparsing
pyserial
python-stdnum
qrcode
vobject
xlrd
xlwt
